@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
   font-family: 'Silkscreen', sans-serif;
   color: #fff;

  button:focus, button:active {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.container__home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  align-items: center;
}

/* menu */
.header {
  width: 100%;
  background-color: var(--green-light);
  z-index: 1000;
  box-shadow: 0 10px var(--green-medium);
}

.header__container {
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  display: flex;

  .nome__projeto{
    font-size: 32px;
  }
}

.configuracao__btn{
  background-color: transparent;
  border: none;
}

/* corpo da página */
.container{
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

.container__novo_email, .container__pre_visualizacao{
  max-height: 815px;
  width: 645px;
  display: flex;
  flex-direction: column;
  margin-top: 30px; 
}

/* novo e-mail */
.novo__email_cabecalho {
  background-color: var(--green-medium);
  border-bottom: 5px solid var(--green-dark);
  height: 81px;
  display: flex;
  align-items: center;
}

.cabecalho__titulo {
  font-size: 40px;
  margin-left: 20px;
}

.novo__email_conteudo{
  background-color: var(--brown-light);
  padding: 10px 20px 15px;
}

.conteudo__campo_assunto{
  margin-bottom: 5px;  
}

.conteudo__campo_assunto, .conteudo__campo_corpo{
  p{
    font-size: 30px;
    margin: 0;
  }

  input{
    font-family: Arial, Helvetica, sans-serif !important;
    padding-left: 5px;
  }

  input, textarea{
    border-radius: 0px;
    width: 585px;
    background-color: #fff;
    border: solid 3px var(--brown-dark);
    color: black;
    box-shadow: 4px 5px var(--brown-medium);
    font-size: 23px;
  }

  input:focus{
    border-color: transparent;
  }
}

.conteudo__campo_corpo textarea:focus {
  border-color: transparent;
}

.conteudo__campo_assunto{
  input{
    height: 56px;
  }
}

.conteudo__campo_corpo{
  textarea{
    height: 272px;
    font-family: 'Inconsolata', monospace;
  }
}

.btn__anexar_arquivo{
  display: flex;
  flex-direction: column;
}

.anexar__arquivo_campo{
  display: flex;
  align-items: center;
}

.anexar__arquivo_label {
  background-color: var(--green-light);
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 4px 5px var(--green-dark);
  display: inline-block;
  margin-top: 5px;
  border-radius: 0;
}

.anexar__arquivo_campo{
  input[type="file"] {
  display: none;
  }
} 

.anexar__arquivo_nome{
  margin-left: 10px;
  font-size: 12px
}

.aviso__texto{
  font-size: 13px;
}

.btn__inserir_imagem, .btn__exportar_html, .btn__salvar_template{
  button{
    width: 585px;
    height: 44px;
    background-color: var(--green-light);
    box-shadow: 4px 5px var(--green-dark);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn__exportar_html, .btn__salvar_template{
  margin-top: 15px;
}

.btn__conteudo{
  display: flex;
  justify-content: space-between;
}

.btn__inserir_imagem, .btn__exportar_html, .btn__salvar_template{
  button:hover{
    border-color: transparent;
  }
}

.btn__inserir_imagem, .btn__exportar_html{
  img{
    margin-left: 5px;
  }

  .btn__conteudo{
    width: 190px;
  }
}

.btn__salvar_template{
  img{
    margin-left: 25px;
  }

  .btn__conteudo{
    width: 230px;
  }
}

/* pré-visualização */
.container__pre_visualizacao{
  background-color: var(--green-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre__visualizacao_cabecalho{
  width: 92%;
  margin-top: -10px;
  margin-bottom: 15px;

  .cabecalho_titulo{
    font-size: 40px;
    margin: 0;
  }
}

.pre__visualizacao_preview{
  height: 684px;
  width: 584px;
  background-color: #fff;
  border: solid 3px var(--gray-medium);
  overflow-y: auto;
  overflow-x: hidden !;
}

.pre__visualizacao_preview,
.pre__visualizacao_preview * {
  color: black !important;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 0 5px;
}